.login-section {
    text-align: center;

    .sign {
        color: rgb(243, 57, 57);
        margin-bottom: 0.3rem;
        text-align: start;
        font-weight: 300;
        font-size: 16px;
    }
}