.modal {
    z-index: 2;
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-container {
        // padding: 0 1rem 1rem;
        background-color: white;
        width: 300px;
        position: relative;

        .modal-body {
            padding: 1rem;
            border-bottom: 1px solid black;
        }

        .form-modal {
            width: 100%;

            .title-modal {
                font-size: 20px;
                font-weight: 300;
            }

            ul {
                padding: 0;
                margin: 0;

                li {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    padding-top: 1rem;
                }
            }

            input[type='text'] {
                width: 100%;
                height: 28px;
                font-size: 14px;
                padding: 0 .2rem;
                color: rgb(0, 0, 0);
                box-sizing: border-box;
            }
        }

        .title-delete {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2rem;
            border-bottom: 1px solid black;
        }

        .footer-modal {
            padding: 1rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .btn-back {
                color: rgb(0, 0, 0);
                font-size: 12px;
                margin-right: 1rem;
                cursor: pointer;
            }

            .btn-submit {
                color: rgb(0, 0, 0);
                padding: .2rem 1rem;
                cursor: pointer;
            }
        }

        .footer-modal-delete {
            display: flex;
            padding: 1rem;
            gap: 1rem;

            .btn {
                width: 400px;
                padding: .5rem;
            }
        }
    }
}